if SOC_SERIES_RISCV32_EV

config SOC_SERIES
	string
	default "ev"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 50000000

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default n

config RISCV_HAS_PLIC
	bool
	default n

config NUM_IRQS
	int
	default 16

config XIP
	bool
	default y

config RISCV_ROM_BASE_ADDR
	hex
	default 0x00000000

config RISCV_ROM_SIZE
	hex
	default 0x4000

config RISCV_RAM_BASE_ADDR
	hex
	default	0x00004000

config RISCV_RAM_SIZE
	hex
	default 0x4000

endif # SOC_SERIES_RISCV32_EV
